.containerTitulo {
	padding: 30px;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #030518;
}

.containerTitulo h1 {
	background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../../../../../public/imagens/titulo.webp);
    background-size: cover;
    color: transparent;
    font-size: 80px;
    line-height: 70px;
    margin-bottom: 40px;
}
.containerTitulo h2 {
	color: #09f;
}