/* Estilos para o contêiner da barra de progresso */
.progress-container {
	width: 100%;
	height: 20px; /* Altura da barra de progresso */
	border-radius: 10px;
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	padding: 2px;
  }
  
  /* Estilos para a barra de progresso */
  .progress-bar {
	height: 100%;
	background-color: #000000; /* Cor da barra de progresso */
	border-radius: 10px;
	transition: width 1s; /* Animação suave da largura da barra de progresso */
  }
  