.containerSobreMim {
	padding: 30px;
	min-width: 100%;
	max-height: 50vh;
	display: flex;
}

.containerSobreMimTexto h1 {
	color: #000;
}

.containerSobreMimTexto p {
	text-align: justify;
}
.containerSobreMimTexto span {
	color: #ff7e00;
	font-weight: bold;
}
.containerImg {
	display: flex;
	flex: 1;
}

.containerSobreMim img {
	border: 5px solid #000000;
	border-radius: 150px;
	resize: horizontal;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	margin-right: 30px;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}
.containerSobreMimTexto {
	margin-left: 30px;
	display: flex;
	align-items: center;
	flex: 4;

}