.containerDescricao {
	padding: 30px;
	min-width: 100%;
	display: flex;
	background-color: #ff7e00;
	color: #fff;
	justify-content: space-around;
}

.itemDescricao {
	display: flex;
	align-items: center;
	font-size: 14px;
}

.itemIcone {
	color: black;
	width: 30px;
	margin-right: 15px;
}


